<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Award Logos</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div id="wrapper">
        <a href="js-exam"><img class="award" src="JavaScript.png"></a>
        <a href="php-exam"><img class="award" src="php.png"></a>
        <a href="html-exam"><img class="award" src="HTML.png"></a>
    </div>
</body>
</html>