<html lang="en">
<head>
    <title>Process PHP</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="container">
        <h1>Submitted Entry<h2>
        <p>Your Name (optional): <%= details.name %></p>
        <p>Course Title: <%= details.course %></p>
        <p>Given Score (1-10): <%= details.score %></p>
        <p>Reason: <%= details.reason %></p>
        <form action="/" id="result">
            <input type="submit" value="Return""/>
        </form>
    </div>
</body>
</html>