body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
h1 {
    width: 100%;
    height: 50px;
    color: rgb(10, 10, 47);
    padding: 10px;
    margin-left: 100px;
}
h2 {
    text-align: center;
    font-size: 30px;
    color: rgb(10, 10, 47);
}
h3 {
    text-align: center;
    font-size: 30px;
    color: aliceblue;
}
ul {
    margin-left: 100px;
}
a {
    color: rgb(10, 10, 47);
}
#movie-wrapper {
    margin: 30px auto;
    width: fit-content;
}
#theater-wrapper {
    margin: 30px auto;
    width: 60%;
}
.movies {
    width: 200px;
}
.theaters {
    width: 300px;
    margin: 5px;
    display: inline;
}
figure {
    display: inline-block;
}
figcaption {
    text-align: center;
}
form {
    margin: 50px auto;
    width: 25%;
    padding: 10px 0px 30px 0px;
    border-radius: 15px;
    background-color: rgb(10, 10, 47);
}
label {
    margin-left: 25px;
    color: aliceblue;
    width: 100px;
    display: inline-block;
}
input[type="text"]{
    margin-bottom: 5px;
}
input[type="submit"]{
    padding: 3px;
    width: 50px;
    display: block;
    margin-left: 257px;
}
